@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alatsi&display=swap');

*{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

body{
    background-color: #e6ede5
}

.nav-container{
    display: flex;
    width: 100%;
    height: 120px;
    background-color: #dfdec0;
    justify-content: space-around;
    align-items: center;
}

a{
    text-decoration: none;
    color: #bd7b85;
}

a:hover{
    color: #7A78E0;
}

.line{
    width: 500px;
    height: 5px;
    background-color: #7A78E0;
}

.title-{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #7A78E0;
}

.main-log{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.colors-palette{
    margin-top: 20px;
    display: grid;
    grid-template: 65px 65px 65px 65px 65px 65px 65px 65px / 50% 50%;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.color1{
    width: 107px;
    height: 51px;
    background: #AF8664;
    border-radius: 20px;
}

.color2{
    width: 107px;
    height: 51px;
    background: #EA6F2D;
    border-radius: 20px;
}

.color3{
    width: 107px;
    height: 51px;
    background: #FFE9CF;
    border-radius: 20px;
}

.color4{
    width: 107px;
    height: 51px;
    background: #FF5757;
    border-radius: 20px;
}


.color5{
    width: 107px;
    height: 51px;
    background: #FF66C4;
    border-radius: 20px;
}

.color6{
    width: 107px;
    height: 51px;
    background: #FEF8CF;
    border-radius: 20px;
}


.color7{
    width: 107px;
    height: 51px;
    background: #BE3034;
    border-radius: 20px;
}

.color8{
    width: 107px;
    height: 51px;
    background: #89694E;
    border-radius: 20px;
}

.log-variation{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.final{
    margin-top: 20px;
    display: grid;
    grid-template: 265px / 40% 20% 40%;
    justify-items: center;
}

.final .title{
    color: #7A78E0;
    text-align: center;
}

.final .l1{
    margin-top: 55px;
    font-family: 'Alatsi', sans-serif;
    text-align: center;
}

.final .l1{
    text-align: center;
}

.line2{
    width: 5px;
    height: 250px;
    align-self: center;
    background-color: #7A78E0;
}

.footer-container{
    margin-top: 20px;
    width: 100%;
    height: 120px;
    background-color: #dfdec0;
    color: #bd7b85;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 425px){
    *{
        font-size: 12px;
        overflow-x: hidden;
    }

    .nav-container{
        display: none;
    }

    .log-variation{
        display: flex;
        flex-direction: column;
    }

    .log-variation img{
        margin-top: 20px;
    }

    .line{
        display: none;
    }

    .final{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .final .l1{
        margin-top: 15px;
    }

    .final .l2{
        margin-bottom: 15px;
    }

    .line2{
        display: none;
    }

    .colors-palette{
        height: 264px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}

.log-variation img{
    transition: transform .3s ease;
}

.log-variation img:hover{
    transform: scale(1.1);
}

.main-log img{
    transition: transform .3s ease;
}

.main-log img:hover{
    transform: scale(1.1);
}






